<aside class="promo-panel">
  <div class="promo-panel__content">
    <h2 class="promo-panel__headline">{{ headline() }}</h2>
    <p class="promo-panel__body">{{ body() }}</p>
  </div>

  <div class="promo-panel__art">
    <img
      ngSrc="assets/desctop.svg"
      class="promo-panel__art-desktop"
      alt=""
      width="530"
      height="261"
    />
    <img
      ngSrc="assets/mobile.svg"
      class="promo-panel__art-mobile"
      alt=""
      width="160"
      height="249"
    />
  </div>
</aside>
